<div class="container-fluid page-body-wrapper full-page-wrapper auth">
  <div class="main-panel login">
    <div class="content-wrapper d-flex align-items-center px-0">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5 mx-auto">
        <div class="brand-logo auth__logo">
          <img src="/img/logo.png" alt="Highstreet.ly">
        </div>
        {{!--<h4 class="mb-3">Sign in to continue</h4>--}}
        {{!--<h6 class="font-weight-light mb-4">Sign in to continue</h6>--}}

        <form>
          {{#if this.authError}}
            <div class="alert alert-danger" role="alert">
              Login failed: {{this.authErrorReason}}
            </div>
          {{/if}}
          {{#if this.showResetSent}}
            <div class="alert alert-success" role="alert">
              Check your email!
            </div>
          {{/if}}
          <div class="pt-3">
            <div class="form-group">
              <Input id="email" @type="email" class="form-control form-control-lg" placeholder="email address" required={{true}} @value={{this.email}} />
            </div>
            <div class="form-group">
              <Input id="password" @type="password" class="form-control form-control-lg" placeholder="password" required={{true}} @value={{this.password}} @insert-newline={{action "login"}} />
            </div>
            <div class="mt-3">
              {{#unless this.showResendConfirmEmail}}
                <button id="login" {{action "login"}} class="btn btn-block btn-primary">Sign in</button>
              {{else}}
                <button {{action "resendConfirm"}} class="btn btn-success btn-block">Resend confirmation
                  email</button>
              {{/unless}}
            </div>
            <div class="mt-5 auth__otheractions">
              <LinkTo @route="request-reset-password">forgot password</LinkTo> <span class="sep">|</span> <a href="{{this.env.sonatribe.MainUi }}/#register">create an account</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
