<div class="min-h-screen flex items-center justify-center" style="background: url(/img/login-bg.jpg) center no-repeat;background-size: cover;">
  <div class="max-w-sm w-full p-6" style="background-color:rgba(0,0,0,0.6);">
    <div class="text-center">
      <img src="/img/logo-sm.png" alt="Highstreet.ly" style="max-width:100px;" class="inline-block">
    </div>

    <form class="mt-6">

      {{#if this.authError}}
        <div class="bg-red-500 text-white p-4 text-sm font-bold mb-6" role="alert">
          Login failed: {{!--{{this.authErrorReason}}--}} guyhbnlkjhgluh
        </div>
      {{/if}}

        <div class="mb-6">
          <Input id="email" @type="email" class="text-sm p-6 text-lg border-1 border-gray-400 w-full placeholder-gray-700" placeholder="email address" required={{true}} @value={{this.email}} />
        </div>
        <div class="mb-6">
          <Input id="password" @type="password" class="text-sm p-6 text-lg border-1 border-gray-400 w-full placeholder-gray-700" placeholder="password" required={{true}} @value={{this.password}} @insert-newline={{action "login"}} />
        </div>
        <div>
          <button id="login" {{action "login"}} class="w-full p-4 text-center uppercase font-bold" style="background-color:#EF951F;color:#fff;">Sign in</button>
        </div>

    </form>
  </div>
</div>