<div class="p-5 h-screen bg-gray-200">
  <div class="container">
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="align-middle inline-block min-w-full">
          <div class="shadow overflow-hidden border-b bg-white border-gray-200 sm:rounded-lg p-4 md:p-8">

            <div class="text-center text-md md:text-lg">
              <p class="text-xs">Order Number:</p>
              <h1 class="text-5xl"><b>{{this.order.humanReadableId}}</b></h1>

              <p class="text-lg mt-1"><b>{{order.typeText}}</b></p>

              <p>
                <span class="text-xs">Order status:</span> <span class="px-2 py-1 inline-flex leading-5 font-semibold rounded-full bg-gray-200 text-gray-800">{{this.order.statusText}}</span>
              </p>

            </div>

            <div class="mt-5 grid grid-cols-2 gap-4 text-lg">
              <div class="address text-right">
                <h6 class="text-xs">Address</h6>
                <p><b>{{this.order.deliveryLine1}}<br>{{this.order.deliveryPostcode}}</b></p>
              </div>
              <div class="contact">
                <h6 class="text-xs">Phone</h6>
                <p><b>{{this.order.ownerPhone}}</b></p>

                <h6 class="text-xs">Email</h6>
                <p><b>{{this.order.ownerEmail}}</b></p>
              </div>
            </div>

            <div class="mt-4">
              <h4 class="text-xs">Order Details</h4>

              <ul>
                {{#each this.order.tickets as | item |}}
                  <li class="text-2xl md:text-4xl mt-4 font-bold">
                    {{#if item.ticketTypeModel.mainImageId}}
                      {{cloudinary-image imageId=item.ticketTypeModel.mainImageId  class="img-lg rounded" options=imageOptions }}
                    {{/if}}
                    {{log item.ticket-details}}
                    {{item.ticket-details.quantity}}<span class="text-lg">x</span>
                    {{item.ticket-details.name}} {{#if item.ticket-details.display-name}}({{item.ticket-details.display-name}}){{/if}}
                    <ul class="text-sm mt-1">
                      <li>+ extras not piped in yet</li>
                    </ul>
                    {{!--{{#if item.ticket-details.product-extras}}
                      <ul>
                        {{#each item.ticket-details.product-extras as |extra|}}
                          <li>+ {{extra.name}}</li>
                        {{/each}}
                      </ul>
                    {{/if}}--}}
                  </li>
                {{/each}}
              </ul>
            </div>

            {{#if (eq this.order.status 3)}}

              {{#if this.order.isClickAndCollect}}
                <p style="text-align: left;">Let your customer know when this order is ready for collection.</p>

                <label class="col-sm-3 col-form-label">Day</label>
                <div class="col-sm-9" data-children-count="1">
                  <EmberFlatpickr @date={{this.dateValue}} @onChange={{this.onDateChange}} @dateFormat="d/m/Y"
                                  class="form-control m-b-5 ember-text-field ember-view"/>
                </div>

                <label class="col-sm-3 col-form-label">AM/PM</label>
                <div class="col-sm-9" data-children-count="1">
                  <select class="form-control" onchange={{action 'onTimeofDayChange' value="target.value"}}>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                  </select>
                </div>

              {{/if}}

              {{#if this.order.isLocalDelivery}}

                <p style="text-align: left;">Let your customer know a day and AMP/PM slot for when you plan to deliver this order.</p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Day</label>
                      <div class="col-sm-9" data-children-count="1">
                        <EmberFlatpickr @date={{this.dateValue}} @onChange={{this.onDateChange}} @dateFormat="d/m/Y"
                                        class="form-control m-b-5 ember-text-field ember-view"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">AM/PM</label>
                      <div class="col-sm-9" data-children-count="1">
                        <select class="form-control" onchange={{action 'onTimeofDayChange' value="target.value"}}>
                          <option value="AM">AM</option>
                          <option value="PM">PM</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

              {{/if}}

              {{#if this.order.isNationalDelivery}}

                <p style="text-align: left;">Let your customer know a day and AMP/PM slot for when you plan to deliver this order.</p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Day</label>
                      <div class="col-sm-9" data-children-count="1">
                        <EmberFlatpickr @date={{this.dateValue}} @onChange={{this.onDateChange}} @dateFormat="d/m/Y"
                                        class="form-control m-b-5 ember-text-field ember-view"/>
                      </div>
                    </div>
                  </div>
                  <diV class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">AM/PM</label>
                      <div class="col-sm-9" data-children-count="1">
                        <select class="form-control" onchange={{action 'onTimeofDayChange' value="target.value"}}>
                          <option value="AM">AM</option>
                          <option value="PM">PM</option>
                        </select>
                      </div>
                    </div>
                  </diV>
                </div>

                <p style="text-align: left;">Provide the tracking number and any notes to your customer.</p>
                {{textarea value=this.order.customerDispatchAdvisory class="form-control m-b-5" rows="5" }}

              {{/if}}


              <br>

            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>