<div class="flex">
    <div class="flex flex-1 text-center">

    </div>
    <div class="flex items-center justify-center text-center" style="flex:0 0 50px;">
        <LinkTo @route="u.app-settings">
            <FaIcon @icon="cog" class="text-gray-500" />
        </LinkTo>
    </div>
    <div class="flex items-center justify-center text-center" style="flex:0 0 50px;">
        <LinkTo @route="u">
            <FaIcon @icon="home" class="text-gray-500" />
        </LinkTo>
    </div>
    <div class="flex items-center justify-center text-center" style="flex:0 0 50px;" {{action 'signout' }}>
        <a href="#">
            <FaIcon @icon="sign-out-alt" class="text-gray-500" />
        </a>
    </div>
</div>
<div class="position-relative">
    <div class="form-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ip-address">
                                IP address
                            </label>
                            <Input @value={{this.ip}} id="ip-address" class="form-control" maxlength="15"
                                placeholder="xxx.xxx.xxx.xxx" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="port">
                                Port
                            </label>
                            <Input @value={{this.port}} id="port" class="form-control" maxlength="15"
                                placeholder="xxx.xxx.xxx.xxx" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="save-product" type="button" class="btn btn-success" {{on "click" (fn this.save)}}>
    {{fa-icon "save"}}
    Save Changes
</button>