<div class="shadow border-b bg-white border-gray-200 rounded-lg p-8 relative">
  <SectionLoading @active={{this.loading}}></SectionLoading>

  <nav class="text-center m-3">
    {{#if (eq @order.status 'Paid')}}
      <button {{action "setProcessing" @order}} class="btn btn-green my-1">Mark as In Progress</button>
    {{/if}}
    {{#if (eq @order.status 'Processing')}}
      <button {{action "setComplete" @order}} class="btn btn-green my-2">Mark as Complete</button>
    {{/if}}
    {{!-- {{#if (or (eq @order.status 'Paid') (eq @order.status 'Processing'))}}
      <button {{action "refund" this.order}} href="#" class="btn btn-red my-2">Refund</button>
    {{/if}} --}}
    {{#if this.printerConfigured}}
     <button {{action "reprint" this.order}} href="#" class="btn btn-red my-2">
       {{#if printing}}
       Printing, please wait...
       {{else}}
       Re-Print
       {{/if}}
     </button>
     {{/if}}
  </nav>

  <div class="text-center text-md md:text-lg">
    <p class="text-xs">Order Number:</p>
    <h1 class="text-5xl"><b>{{@order.humanReadableId}}</b></h1>

    <p class="text-lg mt-1"><b>{{@order.typeText}}</b></p>

    <p>
      <span class="text-xs">Order status:</span> <span
        class="px-2 py-1 inline-flex leading-5 font-semibold rounded-full bg-gray-200 text-gray-800">{{@order.status}}</span>
    </p>

  </div>

  <div class="mt-5 grid grid-cols-2 gap-4 text-lg">
    <div class="address text-right">
      <h6 class="text-xs">Address</h6>
      <p><b>{{@order.deliveryLine1}}<br>{{@order.deliveryPostcode}}</b></p>
    </div>
    <div class="contact">
      <h6 class="text-xs">Name</h6>
      <p><b>{{@order.ownerName}}</b></p>

      <h6 class="text-xs">Phone</h6>
      <p><b>{{@order.ownerPhone}}</b></p>

      <h6 class="text-xs">Email</h6>
      <p><b>{{@order.ownerEmail}}</b></p>
    </div>
  </div>

  <div class="mt-4">
    <h4 class="text-xs">Order Details</h4>

    <ul>
      {{#each @order.tickets as | item |}}
      <li class="text-xl md:text-2xl mt-4 font-bold odd:bg-white even:bg-gray-200">
        {{#if item.ticketTypeConfiguration.mainImageId}}
        <CloudinaryImage @imageId={{item.ticketTypeConfiguration.mainImageId}} @options={{this.imageOptions}} class="float-right" />
        {{/if}}
        {{item.ticketDetails.quantity}}<span class="text-lg">x</span>
        {{item.ticketDetails.name}}

        {{#if item.ticketDetails.productExtras}}
        <ul class="text-base font-normal">
          {{#each item.ticketDetails.productExtras as |extra|}}
          <li>+ {{extra.name}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>

  {{#if (eq @order.status 3)}}

  {{#if @order.isClickAndCollect}}
  <p style="text-align: left;">Let your customer know when @order is ready for collection.</p>

  <label class="col-sm-3 col-form-label">Day</label>
  <div class="col-sm-9" data-children-count="1">
    <EmberFlatpickr @date={{this.dateValue}} @onChange={{this.onDateChange}} @dateFormat="d/m/Y"
      class="form-control m-b-5 ember-text-field ember-view" />
  </div>

  <label class="col-sm-3 col-form-label">AM/PM</label>
  <div class="col-sm-9" data-children-count="1">
    <select class="form-control" onchange={{action 'onTimeofDayChange' value="target.value" }}>
      <option value="AM">AM</option>
      <option value="PM">PM</option>
    </select>
  </div>

  {{/if}}

  {{#if @order.isLocalDelivery}}

  <p style="text-align: left;">Let your customer know a day and AMP/PM slot for when you plan to deliver @order.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Day</label>
        <div class="col-sm-9" data-children-count="1">
          <EmberFlatpickr @date={{this.dateValue}} @onChange={{this.onDateChange}} @dateFormat="d/m/Y"
            class="form-control m-b-5 ember-text-field ember-view" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">AM/PM</label>
        <div class="col-sm-9" data-children-count="1">
          <select class="form-control" onchange={{action 'onTimeofDayChange' value="target.value" }}>
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  {{/if}}

  {{#if @order.isNationalDelivery}}

  <p style="text-align: left;">Let your customer know a day and AMP/PM slot for when you plan to deliver @order.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Day</label>
        <div class="col-sm-9" data-children-count="1">
          <EmberFlatpickr @date={{this.dateValue}} @onChange={{this.onDateChange}} @dateFormat="d/m/Y"
            class="form-control m-b-5 ember-text-field ember-view" />
        </div>
      </div>
    </div>
    <diV class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">AM/PM</label>
        <div class="col-sm-9" data-children-count="1">
          <select class="form-control" onchange={{action 'onTimeofDayChange' value="target.value" }}>
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </div>
    </diV>
  </div>

  <p style="text-align: left;">Provide the tracking number and any notes to your customer.</p>
  {{textarea value=@order.customerDispatchAdvisory class="form-control m-b-5" rows="5" }}

  {{/if}}


  <br>

  {{/if}}


</div>