<div class="flex">
  <div class="flex flex-1 text-center tabs shadow">
    <div class="flex-1 tab">
      <LinkTo @route="u.orders" @model={{this.eventInstance.id}} @query={{hash status=null}}>All orders</LinkTo>
    </div>
    <div class="flex-1 tab">
      <LinkTo @route="u.orders" @model={{this.eventInstance.id}} @query={{hash status="Paid"}}>Ready to start</LinkTo>
    </div>
    <div class="flex-1 tab">
      <LinkTo @route="u.orders" @model={{this.eventInstance.id}} @query={{hash status="Processing"}}>In progress</LinkTo>
    </div>
    <div class="flex-1 tab">
      <LinkTo @route="u.orders" @model={{this.eventInstance.id}} @query={{hash status="ProcessingComplete"}}>Complete</LinkTo>
    </div>
  </div>
  <div class="flex items-center justify-center text-center" style="flex:0 0 50px;" {{action 'toggleFilters'}}>
    <FaIcon @icon="search" class="text-gray-500" />
  </div>
</div>

<div class="flex">
  <div class="flex-1 h-screen bg-gray-200 border-r-gray-200 border-r-2 overflow-y-scroll">
    <OrdersPanel
        @query={{this.orderQuery}}
        @eventInstance={{this.eventInstance}}
        @title="Orders"
        @commandType="order-confirmed,order-processing,order-refunded"
        @backRoute="index"
        @status={{this.status}}
        @filtersVisible={{this.filtersVisible}}
    />


      <div class="text-center mt-4 text-xs">
        <div class="text-xs uppercase mb-2 text-gray-400">Powered By</div>

        <a href="https://highstreet.ly" title="Highstreet.ly"><img src="/img/logo.png" alt="Highstreet.ly" style="width:60px;" class="mb-3 inline-block"></a>

        {{#if version}}
            {{version}}
        {{/if}}

      </div>

  </div>

  {{outlet}}
</div>

<style>
  body{ overflow:hidden; }
</style>